<div *ngIf="hero">
  <h2>{{hero.name | uppercase}} Details</h2>
  <div><span>id: </span>{{hero.id}}</div>
  <div><span>marks: </span>{{hero.marks}}</div>
  <div>
    <label>name:
      <input [(ngModel)]="hero.name" placeholder="name"/>
    </label><br/>
    <label>marks:
      <input [(ngModel)]="hero.marks" placeholder="marks"/>
    </label>
  </div>
  <button (click)="goBack()">go back</button>
    <button (click)="save()">save</button>
</div>